<div class="well well-small">
<h2>Message Board</h2>
<br/>
<% @messages.each do |message| %>
	<article class="alert <%= message.alert %>">
		<strong><%= message.title %></strong> 
		<p><%= message.message %>
	</article>
<% end %>
<!--<p><%= link_to "Edit Messages", "/editor" + request.path %></p>-->
</div>