<div class="well">
<h2>Message Board</h2>
<br/>
<% @messages.each do |message| %>
	<article class="message">
		<strong><%= message.title %></strong> 
		<p class="text-<%= message.alert %>"><%= message.message %>
	</article>
	<hr>
<% end %>
<!--<p><%= link_to "Edit Messages", "/editor" + request.path %></p>-->
</div>