<%- model_class = Division -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Standings" %></h1>
</div>

<% @divisions.each do |division| %>
	<%= render "division", :division => division %>
<% end %>

