<fieldset>
	<legend>Game <%= game_number %></legend>
	<%= f.input :game_number, :as => :hidden, :input_html => {:value => game_number} %>
	
	<div class="row">
	<% first = true %>
	<%= f.simple_fields_for :games_players do |builder| %>
		
		<div class="span4">
			<%= render "game_player", :f => builder, :first => first, :player => first ? @p1 : @p2  %>
		</div>
		<% if first %>
			<% first = false %>
			<div class="span1">
				<strong style="font-size: 2em">VS</strong>
			</div>
		<% end %>
	<% end %>
	</span>
</fieldset>