	
	<td>
	<%= f.association :player, :as => :hidden, :input_html => {:class => 'span2', :value => player.handle} %>
	
	<%= f.association :race, 
		:label => false, 
		:as => :select, 
		:input_html => {:class => 'span2 race'}, 
		:include_blank => 'Select a race...' 
	%>
	</td>
	<td>
	<%= f.input :winner, 
		:label => false,
		:inline_label => 'Winner?', 
		:input_html => {:class => 'winner'}
	%>
	</td>