<div class="row">
	<!-- Current Matches -->
	<div class="span3">
		<div class="alert alert-info">
			<h3>This Week's Matches</h3>
			<ul class="match-list">
				<% Match.current(1).each do |match| %>
				<li>
					<%= link_to match.players[0].handle, player_path(match.players[0].id) %>
					vs
					<%= link_to match.players[1].handle, player_path(match.players[1].id) %>
				</li>
			<% end %>
			</ul>
			
			<hr/>
			<h4>Outstanding Matches</h4>
			<ul class="match-list text-error">
				<li>Match 1</li>
			</ul>
		</div>
	</div>
</div>