<h2>Weekly Schedule</h2>
<div class="row">
	<!-- Current Matches -->
	<div class="span4">
		<div class="alert alert-info">
			<h3>Week <%= Season.current_week(1) %> Matches</h3>
			<ul class="match-list">
				<% Match.current(1).each do |match| %>
				<li>
					<% if match.completed? %>
						<span class="label label-success">Completed</span>
					<% elsif match.in_progress? %>
						<span class="label label-info">In Progress</span>
					<% else %>
						<span class="label label-warning">Not Started</span>
					<% end %>
					<%= link_to match.display_vs , match_path(match.id) %> 
					
				</li>
			<% end %>
			</ul>
	
			<hr/>

			<h3>Outstanding Matches</h3><br/>
			<ul>
			<% Match.outstanding(1).each do |match| %>
				<li>
					<span class="label label-important">Late</span>
					<%= link_to match.display_vs , match_path(match.id) %> 
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>