<div class="row">
	<!-- Current Matches -->
	<div class="span3">
		<div class="alert alert-info">
			<h4>This Week's Matches</h4>
			<ul>
				<% Match.current(1).each do |match| %>
				<li>
					<%= link_to match.players[0].handle, player_path(match.players[0].id) %>
					vs
					<%= link_to match.players[1].handle, player_path(match.players[1].id) %>
				</li>
			<% end %>
			</ul>
		</div>
	</div>
</div>
	
	<!-- Completed Matches -->
	<div class="span3">
		<div class="alert alert-success">
			<h4>Completed Matches</h4>
		</div>
	</div>
	
	<!-- Upcoming Matches -->
	<div class="span3">
		<div class="alert alert-info">
		<h4>Next Week's Matches</h4><br/>
		<ul>
		<% Match.upcoming(1).each do |match| %>
			<li>
				<%= link_to match.players[0].handle, player_path(match.players[0].id) %>
				vs
				<%= link_to match.players[1].handle, player_path(match.players[1].id) %>
			</li>
		<% end %>
		</ul>
		</div>
	</div>
</div>