<table>
	<thead>
		<th>Players</th>
		<th>Week</th>
		<th colspan="2">Division 1 Matches</th>
		<th colspan="2">Division 2 Matches</th>
	</thead>
	
	<tbody>
		<td rowspan="10">
			<ul>
			<% Player.division("Division A").each do |player| %>
				<li class="draggable"><%= player.name %></li>
			<% end %>
			</ul>
			
			<hr />
			
			<ul>
			<% Player.division("Division B").each do |player| %>
				<li class="draggable"><%= player.name %></li>
			<% end %>
			</ul>
		</td>
		
		<!-- Weeks -->
		<% (1..10).each do |i| %>
			<td>Week <%= i %></td>
			<td>Div A match</td>
			<td>Div A match</td>
			<td>Div B match</td>
			<td>Div B match</td>
		<% end %>
	</tbody>
</table>