<div class="well">
<h2>About Us</h2>
<br/>
<p>The Charlottesville Starcraft League is a local Starcraft II league
now on its third season.  There are two parts to the CSL: the regular
season that determines seeding for the postseason, and a playoff that
determines final standings and a champion.  The regular season
involves a round-robin divisional format where each player plays every
other player in his division twice. The playoffs consist of a bracket
style tournament.  Do you have what it takes to emerge victorious this
time?  Good luck, and have fun!</p>
</div>